:root {
    --primary-color: #75cac7; /* Azul vibrante */
    --secondary-color: #60a5fa; /* Azul más claro */
    --accent-color: #f87171; /* Rojo suave para acentos */
    --text-color: #333;
    --light-bg: #e4d6d6;
    --dark-bg: #2d3748; /* Gris oscuro para footer */
    --card-bg: #ffffff;
    --border-color: #e2e8f0;
    --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 10px 15px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
    box-shadow: var(--shadow-medium);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
   }

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header.logo{
    font-size:1.8 rem ;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(white)
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
header nav ul li a {
    text-decoration: none;
    color: var(--border-color);
    padding:0.5 rem 0 ;
    font-weight: 600 ;
}
 header nav a:hover{
    color: var(--secondary-color)
 }